<menu>
    <nav>
        <goto id="logo-container" page="home" style="pure-menu-heading pure-menu-link">Start page</goto>
    </nav>
    <nav class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item {pure-menu-selected: opts.current == 'examples'}"><goto page="examples" style="pure-menu-link">Examples</goto></li>
            <li class="pure-menu-item {pure-menu-selected: opts.current == 'contact'}"><goto page="contact" style="pure-menu-link">Contact</goto></li>
        </ul>
    </nav>
</menu>